@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Karla", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 20px;
  height: 65px;
  color: #fff;
}
main {
  padding: 36px;
}

/*! navbar or header */
.nav--image {
  height: 100%;
  margin-right: 5px;
}

.nav--title {
  margin-right: auto;
  font-size: 1.25rem;
}

.nav--project {
  font-size: 1rem;
  font-weight: 500;
}

/* form */

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

/* meme component */
.meme {
  position: relative;
}

.meme--image {
  min-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
